body{
	background: url(../images/signAndLot.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:auto;
}
#aboutBack{
	background: url(../images/shop.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: auto;
}
#inventoryBack{
	background: url(../images/lot.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: auto;
}
#contactBack{
	background: url(../images/backSign.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: auto;
}
#direction{
	background: #d9d9d9;
}
#main{
}
#main2{
	margin: 30px;
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=60);
	position: fixed;
	height: 575px;
	width: 575px;
	top: 20px;
	right: 375px;
	padding: 10px 10px 0px 10px;
}
#all{
	background: url(../images/save.png);
	border: 1px solid black;
	padding: 20px;
	margin-left: 20%;
	margin-right: 20%;
	position: relative; 
}
#description{
	text-align: center;
}
#pictureGo{
	padding-left: auto;
	padding-right: auto;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}
#again{
	text-align:center;
}
#again a{
	text-decoration: none;
	color: black;
	font-size: 150%;
}
#again a:hover{
	color: #002080;
	text-align: center;
}
#footerBox2{
	margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
	position: fixed;
	height: 200px;
	width: 575px;
	bottom: -5px;
	left: 400px;
	padding: 10px 10px 0px 10px;
}
#footer{
	font-family: Montserrat, sans-serif;
	text-align: center;
}
footer iframe{
	display: inline;
}
#footerBox2s{
		font-family: Montserrat, sans-serif;
	position: fixed;
	width: 600px;
	height: 180px;
	bottom: 40px;
	left: 450px;
}
#map{
        position: relative;
        padding-bottom: 30%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
 }
	
#map iframe {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
}

#map2{
	position: fixed;
	width: 350px;
	height: 175px;
	bottom: 25px;
	left: 645px;
	border: 1px solid black;
}
#inside{
	font-family: Montserrat, sans-serif;
	overflow: hidden;	
}
#inside2{
	font-family: Montserrat, sans-serif;
	color: white;
	position: fixed;
	width: 525px;
	height: 525px;
	top: 50px;
	right: 450px;
	text-align: center;
}
#inside2 p{
	color: #d9d9d9;
	font-size: 150%;
}

#vehicle{
	height: 250px;
	width: 250px;
	border: 1px solid black;
}
#cars img{
	border: 1px solid black;
	display: inline;
	position: absolute;
	top: 0;
	right: 100px;
	width: 100%;
	height: 100%;
}
#cars p{
	display: inline;
}
.carGroup{
	font-family: font-family: Montserrat, sans-serif;
	color: white;
	font-size: 130%;
	font-weight: bold;
	display: block;
	margin: 20px 0px 10px 0px;
}
#top{
	margin: 100px 0px 0px 0px;
}

#previewTheLot {
	margin: 20px 0px 35px 100px;
}
#leftArrow {
	position: fixed;
	top: 190px;
	right: 520px;
	padding: 20px 20px 20px 20px;
	display: block;
}

#rightArrow{
	position: fixed;
	top: 190px;
	right: 100px;
	padding: 20px 20px 20px 20px;
	display: block;
}


nav ul {
	font-family: Railway, sans-serif;
	font-size: 125%;
    list-style-type: none;
	max-width: 610px;
	margin-top: 2%;
	margin-left: 60%;
}

nav ul li {
	display: inline;
}

nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
	border-bottom: none;
}

nav li a:hover {
	color: #002080;
}
#aboutBackNav a{
	color: black;
}
#aboutBackNav a:hover{
	color: white;
}
#box{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.75;
    filter: alpha(opacity=60);
	position: fixed;
	height: 50px;
	width: 500px;
	top: 0px;
	right: 115px;
}